@charset "utf-8";
/* 你自己的样式 */

.titlebar{
	background-image: url(/static/images/top02.jpg);
}

.leftbar{
	background-image: url(/static/images/bg.jpg);
}

.btmblank{
	background-image: url(/static/images/buiding01.png);
}

.admintitlebar{
	background-image: url(/static/images/top.jpg);
}

.adminleftbar{
	background-image: url(/static/images/bg02.jpg);
}

.adminbtmblank{
	background-image: url(/static/images/buiding01.png);
}

.adminitembg{
	background-image: url(/static/images/lists.png);
}

.Hui-aside .menu_dropdown li a{color:#000;border-bottom: 1px solid #000}